.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333a6;
}

.loader::after {
  content: "";
  display: block;
  width: 10rem;
  height: 10rem;
  border: 15px solid #dddddddd;
  border-top-color: var(--light-blue);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}