.hero {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.hero__title h1, .hero__title h2, .hero__title h3{
  font-family: 'open-sans', sans-serif;
}


.hero__img {
  z-index: -1;
  position: relative;
  order: 3;

}

.hero__cta{
  display: flex;
  order: 2;
}

.hero__cta--btn{
  padding: 1.5rem 5rem;
  font-size: 2.4rem;
  font-weight: 700;
  border-radius: 0.5rem;
  margin-top: 5rem;
  text-decoration: none;
}

/* Mobile view */
@media (max-width: 768px) {
  
  .hero {
    flex-direction: column;
  }

  .hero__cta--btn{
    padding: 1.5rem 2.5rem;
    font-size: 2.2rem;
    font-weight: 700;
    border-radius: 0.5rem;
    margin-top: 0;
  }
}

