.nav {
  padding: 1.5rem 0;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
}

.logo {
  font-size: 2.8rem;
  font-weight: 900;
  color: var(--light-blue);
  margin-right: 3rem;
}

.nav__primary-section{ 
  display: flex;
}

.nav__secondary-section{
  display: flex;
  align-items:flex-end;
}

.nav__list {
  display: flex;
  list-style: none;
  align-items: center;
  color: var(--blue-navy);
  margin-left: 0.5rem;
  margin-top: 0.5rem;

}

.nav__list--item {
  margin-right: 2rem;
}

.nav__list--item a{
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--blue-navy);
  font-family: 'Roboto Slab', serif;

}

.nav__list--item a::after{
  content: "";
  visibility: hidden;
  display: block;
  height: 0.3rem;
  width: 0%;
  background: var(--light-blue);
  transition: width 0.3s;
  transition: all 0.4s ease;

}

.nav__list--item a:hover::after{
  visibility: visible;
  width: 100%;
}

.nav__icon {
  height: 3.6rem;
  margin-right: 1.2rem;
  transition: transform 0.2s ease-in-out;
}

/*Move up on hover*/
.nav__icon:hover{
  transform: translateY(-5px) scale(1.2);
}

.nav__btn-contact {
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  margin-left: 1rem;
}



/* Mobile styles */
@media (max-width: 768px) {
  .logo{
    font-size: 3.2rem;
  }
  
}


